h1{
    margin-top: 20px;
    color: blueviolet;
    margin-bottom: 20px;
}
input{
    margin: 10px;
}
#submit{
    font-size: 20px;
    margin: 20px;
    background-color:gold;
    color: blueviolet;
}
#sort{
    font-size: 20px;
    margin: 20px;
    background-color:gold;
    color: blueviolet;
    display: none;
}
body{
    background-color: gold;
}
#names{
    font-weight: bold;
    color: blueviolet;
}
#setback{
    font-size: 20px;
    margin: 20px;
    background-color:gold;
    color: blueviolet;
    display: none;
}